<!DOCTYPE html>

<head>
  <title><%= appName %></title>
  <style>
	h1::selection{
		color: rgb(79, 79, 79);
		background: rgb(79, 79, 79);
	}
  </style>
</head>

<body style="background: rgb(47, 46, 46); background: linear-gradient(0deg, rgb(42, 40, 40) 0%, rgba(0,0,0,1) 30%); margin-top: 10%;">
  <center style="margin: 10%;">
	<img src="/assets/logo.png" width="250" height="250"/>
    <h1 style="color:#ffffff"><%= appName %></h1>
    <h1 style="color:#ffffff"><%= npmPackageVersion %></h1>
    <h1 style="color:#ffffff"><%= nodeEnv %></h1>
  </center>

  <body>

    </html>